.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  width: 33%;
  height: 25px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #8469b6;
}

p {
  font-size: 18px;
  color: #6441a5;
}

.submit-button {
  width: 75px;
  height: 50px;
  font-size: 18px;
  padding: 10px;
  background-color: #8469b6;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #6441a5;
}

.App-home {
  font-size: 3em;
  margin-bottom: 50px;
  margin-top: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjusts layout for different screen sizes */
  gap: 20px;
  background-color: #8469b6; /* Light gray background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
  margin: 20px 0; /* Adds margin to separate from other sections */
}

.grid-item {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  position: relative; /* Required for absolute positioning of the close button */
  display: flex; /* To align the image and name horizontally */
  align-items: center; /* Vertically align items */
}

.streamer-card:hover {
  background-color: #d0b1ff !important;
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0,0,0,0.15), 0 4px 6px rgba(0,0,0,0.1);
}

.channel-content {
  display: flex; /* Display image and name side by side */
  align-items: center;
}

.channel-image {
  width: 50px; /* Fixed width for the image */
  height: 50px; /* Fixed height for the image */
  border-radius: 50%; /* Make image circular */
  margin-right: 10px; /* Space between the image and the channel name */
}

.channel-name {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #8469b6;
  cursor: pointer;
}

.remove-button:hover {
  color: #6441a5;
}

.channel-name {
  font-weight: bold;
  font-size: 18px;
}

.charts-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.chart-item {
  width: 48%; /* Makes the graphs 2 per row */
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chart-item h3 {
  text-align: center;
  margin-bottom: 10px;
}

/* Base style for buttons */
.time-range-selector button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Style for active button (it stays highlighted) */
.time-range-selector button.active {
  background-color: #9146FF; /* Highlight color (Twitch Purple) */
  color: white;
  border-color: #9146FF;
}

/* Hover style for non-active buttons */
.time-range-selector button:hover:not(.active) {
  background-color: #ddd; /* Light background on hover */
}

/* Optional: Add a focus style to improve accessibility */
.time-range-selector button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(144, 70, 255, 0.5);
}

.custom-tooltip {
  background-color: #f0f0f0;  /* Dark background */
  color: #fff;                           /* White text */
  border-radius: 4px;                     /* Rounded corners */
  padding: 10px;                          /* Padding */
  font-size: 14px;                        /* Font size */
  max-width: 200px;                       /* Max width */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  pointer-events: none;                   /* Avoid interaction */
}

.custom-tooltip p {
  margin: 0;  /* Remove extra margin */
}
