spring:
  application:
    name: twitch-chat-hit-counter
  output:
    ansi:
      enabled: ALWAYS

# Enable prometheus logs
management:
  endpoints:
    web:
      exposure:
        include:
          health,info,metrics,prometheus
    prometheus:
      enabled:
        true

# Enable Twitch4j debug logs
logging:
  level:
    com:
      github:
        twitch4j:
          DEBUG

---
## Local dev configs
spring:
  config:
    activate:
      on-profile: default
  # MySql Configs
  datasource:
    url: TODO
    username: TODO
    password: TODO
    driver-class-name: com.mysql.cj.jdbc.Driver
