spring:
  application:
    name: twitch-chat-hit-counter-course
  output:
    ansi:
      enabled: ALWAYS

# Enable prometheus logs
management:
  endpoints:
    web:
      exposure:
        include:
          health,info,metrics,prometheus
    prometheus:
      enabled:
        true

# Enable Twitch4j debug logs
logging:
  level:
    com:
      github:
        twitch4j:
          DEBUG

---
## Local dev configs
spring:
  config:
    activate:
      on-profile: default
  # MySql Configs
  datasource:
    url:
      jdbc:mysql://localhost:3306/dev_db
    username: root
    password: ""
    driver-class-name: com.mysql.cj.jdbc.Driver
