spring:
  application:
    name: twitch-chat-hit-counter
  output:
    ansi:
      enabled: ALWAYS

# Enable prometheus logs
management:
  endpoints:
    web:
      exposure:
        include:
          health,info,metrics,prometheus
    prometheus:
      enabled:
        true

# Enable Twitch4j debug logs
logging:
  level:
    com:
      github:
        twitch4j:
          DEBUG

---
## Local dev configs
spring:
  config:
    activate:
      on-profile: default
  # MySql Configs
  datasource:
    url:
      jdbc:mysql://localhost:3306/dev_db
    username: root
    password: ""
    driver-class-name: com.mysql.cj.jdbc.Driver
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: twitch-chat-hit-counter-group-id-0
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.ByteArraySerializer
    listener:
      ack-mode: MANUAL
  data:
    redis:
      host: localhost
      port: 6379

twitch-chat-hit-counter:
  kafka:
    batch-consumer:
      group-id: twitch-chat-hit-counter-group-id-batch-0
      listener:
        type: BATCH
    greeting-topic:
      greeting-events
    twitch-chat-topic:
      twitch-chat-events
  sql:
    greeting-table: greeting_events
    greeting-table-batch: batch_greeting_events
    twitch-chat-table: twitch_chat_events
  redis:
    event-dedupe-database: 0
    greeting-feed-database: 1
    twitch-chat-hit-counter-database: 3
    chatbot-channels-database: 4
